{% extends "base.html" %}
{% load has_group %}
{% load i18n %}
{% load static %}
{% block Content %}
            <div class="row">
                <div class="col-lg-12 well">
                    <div class="row text-center">
                        <div class="col-lg-12">
                            <h3> Personal Safety Page for </h3>
                                
                              <h1> {{profile.user.first_name|title}} {{profile.user.last_name|title}}</h1>
                            
                            <p><label>Personal Safety Identifier (PSI)</label> <span class="badge badge-primary">{{profile.subject}}</span></p>
                            <p><label>Date of Birth</label> <span class="badge badge-primary">{{profile.birth_date}}</span></p>
                            <p><label>Identity Assurance Level (IAL)</label>
                                <span class="badge badge-primary">{{profile.ial}}</span> </p>


                        <h3>Patient Safety Identifier QR Code (It links to this page this page)</h3>    
                        <p> <img src="{{ profile.subject_qrcode.url }}" alt="Patient Safety Identifier QR Code" /> </p>
                     

            
                        {% for shc in smart_health_cards %}
                        <h3>SMART Health Card #{{ forloop.counter }}</h3>
                            
                            <p> <img src="{{ shc.shc_qrcode.url }}" alt="SMART Health Card QR code" /> </p>
                        {% endfor %}    
                        
                    {% if profile.user.address_set.exists %}
                    <h3>Addresses:</h3>
                    <table class="table table-borderless table-sm ml-2">
                        {% for address in profile.user.address_set.all %}
                        <tr><td>{{ address }}</td></tr>
                        {% endfor %}
                    </table>
                    {% endif %}

                    {% if profile.user.individualidentifier_set.exists %}
                    <h3>Identifiers:</h3>
                    <table class="table table-borderless table-sm ml-2">
                    {% for identifier in profile.user.individualidentifier_set.all %}
                        <tr>
                            <td>
                                {% for key, val in settings.INDIVIDUAL_ID_TYPE_CHOICES %}{% if identifier.type == key %}{{ val }}{% endif %}{% endfor %}
                                {% if identifier.country or identifier.subdivision %}
                                ({{ identifier.subdivision }}{% if identifier.country and identifier.subdivision %}, {% endif %}{{ identifier.country }})
                            </td>
                            <td>
                                {% if identifier.uri %}<a href="{{ identifier.uri }}" target="_blank" rel="noreferer noopener">{% endif %}
                                {{ identifier.value }}
                                {% if identifier.uri %}</a>{% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                    {% endif %}





                        </div>
                    </div> <!-- /.row -->
                </div> <!-- /.well -->
            </div><!-- /.row -->
{% endblock %}

