{% load static %}
<div id="footer" class="container-fluid mt-5 py-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav id="footer-nav" class="navbar navbar-expand mb-5">
                    <div class="row mx-auto">
                        <div class="col-auto">
                            <a href="https://github.com/videntity/vmi/issues" target="_blank" rel="noopener">
                                Report Bugs
                            </a>
                        </div>
                        |
                        <div class="col-auto">
                            <a  href="{{settings.TOS_URI}}" target="_blank" rel="noopener">
                                {{settings.TOS_TITLE}}
                            </a>
                        </div>
                        |
                        <div class="col-auto">
                            <a  href="{{settings.POLICY_URI}}" target="_blank" rel="noopener">
                                {{settings.POLICY_TITLE}}
                            </a>
                        </div>
                        |
                        <div class="col-auto">
                            <a  href="mailto:{{settings.CONTACT_EMAIL}}" target="_blank" rel="noopener">
                                Email Us
                            </a>
                        </div>
                        |  
                        <div class="col-auto">
                            <a href="https://github.com/videntity/vmi" target="_blank" rel="noopener">
                                Open Source
                            </a>
                        </div>
                    </div>
                </nav>
                <div id="footer-info" class="row">
                    <div class="col">
                        {{settings.DISCLOSURE_TEXT}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
