            <div class="row">
                <div class="col">
                    {% if messages %}
                    <div id="messages">
                        {% for message in messages %}
                        <div class="alert alert-dismissable alert-{{message.tags}}">
                            <a class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </a>
                            {{message|safe}}
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
