{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}
{% block breadcrumbs %}
                    <ol class="breadcrumb">
                        <li ><a href="/">Home</a></li>
                        <li ><a href="{% url 'user_search' %}">Search</a></li>
                        <li><a href="{% url 'user_profile_subject' up.subject %}">{{user.userprofile}}</a></li>
                        <li class="active"><a href="{% url 'account_settings_subject' up.subject|default:'None' %}">Edit Profile</a></li>
                    </ol>
{% endblock %}

{% block Content %}
            <div class="row">
                <div class="col-12">
                    <h1 class="page-header">{{name}} <small>{{subname}}</small></h1>
                </div>
            </div>

            <div class="hero-unit">
                <div class="row">
                    <div class="col-12">
                        <form class="well" method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|bootstrap }}
                            <input type="submit" class="btn btn-primary"  value="{% trans 'Continue' %}" />
                            <br/>
                            <a href="javascript:history.go(-1)">{% trans "Go Back" %}</a>
                        </form>
                    </div>
                </div>
            </div>
{% endblock %}
