{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block breadcrumbs %}
                    <ol class="breadcrumb">
                        <li ><a href="/">Home</a></li>
                        <li class="active"><a href="{% url 'user_profile_subject' user.userprofile.subject %}">{{user.userprofile}}</a></li>
                        <li class="active">Identifiers</li>
                    </ol>
{% endblock %}
{% block Content %}
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Type</th>
                            <th scope="col">Issuer</th>
                            <th scope="col">URI</th>
                            <th scope="col">Value/Number</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in identifiers %}
                        <tr>
                            <th scope="row">{{i.type|default:'—'}}</th>
                            <th scope="row">{{i.issuer|default:'—'}}</th>
                            <th scope="row">{{i.uri|default:'—'}}</th>
                            <th scope="row">{{i.value|default:'—'}}</th>
                            <th scope="row">
                                <a href="{% url 'edit_individual_identifier' i.id %}">
                                    <button type="button" class="btn btn-default"> Edit </button>
                                </a>
                                <a href="{% url 'delete_individual_identifier' i.id %}">
                                    <button type="button" class="btn btn-danger"> Delete </button>
                                </a>
                            </th>
                        </tr>
                        {% endfor %}
                        <tr>
                            <th scope="row">
                                <a href="{% url 'add_new_individual_identifier' up.subject|default:'None' %}">
                                    <button type="button" class="btn btn-primary"> Add New Identifier </button>
                                </a>
                            </th>
                            <th scope="row">--</th>
                            <th scope="row">--</th>
                        </tr>
                    </tbody>
                </table>
            </div>
{% endblock %}

