{% extends "base.html" %}
{% load i18n %}


{% block Content %}


<div class="container login-container">
   
     <div class="col-md-6 login-form-2">
                  
             
              {% include "include/messages.html" %}
              
                    <h3>Login to {{name|title}}</h3>
                    <form method="post" action="" name="loginform">
                     {% csrf_token %}
                            {% load bootstrap %}
          {{ form|bootstrap }}
                     
                     
                     
                        
                        <div class="form-group">
                            <input type="submit" class="btn-xlarge btn-primary" value="{% trans 'Login' %}" />
                        </div>
                        <div class="form-group">

                            Forgot your password? <a href="{% url 'forgot_password' %}" class="ForgetPwd" value="Login">Recover with email</a> or
                            <a href="{% url 'reset_password_with_recovery_passphrase' %}" class="ForgetPwd" value="Login">with a passphrase </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

  

{% endblock %}

    {% block ExtraJSFoot %}
	<script type="application/javascript">$("#id_username").focus();</script>
    
    <script type="application/javascript">
    var empt = document.forms["loginform"]["username"].value;
    if (empt != "")
        {
        $("#id_password").focus();
        }
    </script>
    
	{% endblock %}
