{% extends "base.html" %}
{% load i18n %}

{% block Content %}
            <div class="row">
                 <div class="col-md-6 login-form-2">
                    <h3>Login to {{name|title}}</h3>
                    {% include "include/login-form.html" %}
                </div>
            </div>
{% endblock %}

{% block ExtraJSFoot %}
<script type="application/javascript">$("#id_username").focus();</script>
<script type="application/javascript">
var empt = document.forms["loginform"]["username"].value;
if (empt != "")
    {
    $("#id_password").focus();
    }
</script>
{% endblock %}
