{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block breadcrumbs %}
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li class="active"><a href=".">{{organization.name}}</a></li>
                    </ol>
{% endblock %}
{% block Content %}
            
            
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="row">
                        <div class="col">
                            
                                <img alt="image" style="max-width:100%;"
                                    src="{% if organization.picture_url %} {{organization.picture_url}}{% else %}{% static '/img/avatar_default.png' %}{% endif %}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col my-3">
                             <h3><span class="label">{{organization.name}}</span></h3>
                             <h2><span class="badge badge-primary">{{organization.slug}}</span></h2>
                             
                             <p>{{organization.about}}</p>
                             <p>Joined {{organization.joined_date|default:"Not Claimed"}}</p>
                        </div>
                    </div>
                    
               
                </div>
                <div class="col">
                    <p>Name: {{organization.name}}</p>
                    <p>Website: <a href="{{organization.website}}">{{organization.website|default:"—"}}</a></p>
                    <p>Agent Signup: <a href="{{ organization.agent_signup_url}}">{{ organization.agent_signup_url|default:"—"}}</a></p>
                    <p>Member Signup: <a href="{{ organization.member_signup_url}}">{{ organization.member_signup_url|default:"—"}}</a></p>
                    <p>Phone: {{organization.phone_number|default:"—"}}</p>
                   
                    <p>Addresses:</p>
                    <table class="table table-borderless table-sm ml-2">
                        {% for address in organization.addresses.all %}
                        <tr><td>{{ address }}</td></tr>
                        {% endfor %}
                    </table>

                    
                    <p>Identifiers:</p>
                    <table class="table table-borderless table-sm ml-2">

                    <tr>
                            <td>Value</td>
                            <td>Type</td>
                            <td>Issuer</td>
                            <td>URI</td>
                     </tr>
                                
                    {% for identifier in organization.identifiers.all %}           
                        <tr>
                            <td>{{identifier.value|default:"-"}}</td>
                            <td>{{identifier.type|default:"-"}}</td>
                            <td>{{identifier.issuer|default:"-"}}</td>
                            <td>{{identifier.uri|default:"-"}}</td>                        
                        </tr>
                    {% endfor %}
                    </table>
                    


                    <p>Agents:</p>
                    <table class="table table-borderless table-sm ml-2">

                    <tr>
                            <td>Name</td>
                            <td>Actions</td>
                     </tr>
                                
                    {% for agent in organization.users.all %}           
                        <tr>
                            <td><a href="{% url 'user_profile_subject' agent.userprofile.subject|default:'None' %}" >{{agent.first_name|title }} {{agent.last_name|title }} </a></td>
                            <td>
                                    
                            {% if organization.point_of_contact == request.user %}
                                
                                <a href={% url 'remove_agent_from_organization' organization.slug agent.id  %}>Remove Agent from Organization</a>
                                {% else %}
                                 -
                                {% endif %}
                            </td>                     
                        </tr>
                    {% endfor %}
                    </table>


                    <p>Actions:</p>         
                            <a href="{% url 'member_search_org_slug' organization.slug %}">
                                    <button type="button" class="btn btn-primary"> Search Members of {{organization}} </button>
                                </a>
            
                </div>
            </div>

{% endblock %}
