{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block Content %}

<div class="container">

    <div class="row">
        <div class="col-lg-12">
	      <ol class="breadcrumb">
	        <li ><a href="/">Home</a></li>
          <li class="active"><a href=".">Password Recovery With a Passphrase</a></li>
	      </ol>
        </div>
     </div>

    <div class="row">
      <div class="col-lg-12">
        {% include "include/messages.html" %}
      </div>
    </div>

<div>
 <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">User Information</th>
      <th scope="col">Passphrase Status</th>
       <th scope="col">Actions</th>
    </tr>
  </thead>
   <tbody>

            
      <tr>
       <th scope="row">Username: {{request.user}}  ID: {{up.subject}}</th>
       <th scope="row">{% if existing %} Generated {% else %} Not yet generated{% endif %}</th>
       <th scope="row"><a href="{% url 'generate_password_recovery_passphrase' %}"><button type="button" class="btn btn-primary"> Generate </button> 
       </a>
       </th>
      </tr>     
  


  </tbody>
     </table>
	   
   
    
    
</div><!-- /.container -->


{% endblock %}

