{% extends "base.html" %}
{% load has_group %}
{% load i18n %}
{% load static %}
{% block breadcrumbs %}
                    <ol class="breadcrumb">
                        <li ><a href="/">Home</a></li>
                        <li><a href="{% url 'user_profile_subject' user.userprofile.subject %}">{{user.userprofile}}</a></li>
                    </ol>
{% endblock %}
{% block Content %}
            <div class="row">
                <div class="col-lg-12 well">
                    <div class="row text-center">
                        <div class="col-lg-12">
                            <h3>Hello {{request.user.first_name|title}} {{request.user.last_name|title}}.</h3>
                            <p>Your username is <span class="badge badge-primary">{{ request.user }}</span>
                            and your account number is <span class="badge badge-primary">{{profile.subject}}</span>

                            {% ifequal profile.ial "1" %}
                                    <p>Your identity needs verified before you can gain full access.
                                    Your <a href="https://pages.nist.gov/800-63-3/sp800-63a.html#sec4">"You Are You" Level is
                                    <span class="badge badge-danger">{{profile.ial}}</span>,
                                    but most services require at least a level 2 <span class="badge badge-success">2</span>.
                                    Please contact the group or organization in which you enrolled so they may verify your identity.</p>
                            {% else %}
                                    <p>Your <a href="https://pages.nist.gov/800-63-3/sp800-63a.html#sec4">"You Are You"</a>
                                    level is <span class="badge badge-success">{{profile.ial}}</span> so you should be
                                    all set to access websites and apps that use {{ settings.APPLICATION_TITLE }}.
                        
                            {% endifequal %}
                            
                            
                        </div>
                    </div> <!-- /.row -->
                </div> <!-- /.well -->
            </div><!-- /.row -->
{% endblock %}

