{% extends "base.html" %}
{% load has_group %}
{% load i18n %}
{% load static %}
{% block breadcrumbs %}
                    <ol class="breadcrumb">
                        <li class="active"><a href="/">Home</a></li>
                    </ol>
{% endblock %}
{% block Content %}
            <div class="row">
                <div class="col-lg-12 well">
                    <div class="row text-center">
                        <div class="col-lg-12">
                            <h3>Hello {{request.user.first_name|title}} {{request.user.last_name|title}}.</h3>
                            <p>Your username is <span class="badge badge-primary">{{ request.user }}</span>
                            and your account number is <span class="badge badge-primary">{{profile.subject}}</span>

                            {% ifequal profile.ial "1" %}
                                    <p>Your identity needs verified before you can gain full access.
                                    Your identity level is <span class="badge badge-danger">{{profile.ial}}</span>,
                                    but most services require level <span class="badge badge-success">2</span>. Please see your
                                    point of contact so they can help you verify your identity.</p>
                            {% else %}
                                    <p>Your identity has been verified to level <span class="badge badge-success">{{profile.ial}}</span>.
                                    You may now access the:</p>
                                    <h5><a href="{{settings.KILLER_APP_URI}}"> <button type="button" class="btn btn-primary">{{settings.KILLER_APP_TITLE}}</button> </a></h5>
                            {% endifequal %}
                            
                            
                        </div>
                    </div> <!-- /.row -->
                </div> <!-- /.well -->
            </div><!-- /.row -->
{% endblock %}

