{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block Content %}
            <div class="row">
                <div class="col">
                    <h1 class="page-title">
                       Welcome to
                        <b>{{ settings.APPLICATION_TITLE }}</b>
                    </h1 class="page-title">
                                        

                </div>
            </div>

            <div class="row">
                        
            <div class="col-lg-6 my-4">
                    <h2>Create Member Account</h2>
                    <h3>Find your organization</h3>
                    {% include "include/find-org-to-create-member-account.html" %}
                    
                   <p>Already have an account? <a href="{% url 'mfa_login' %}">Login</a>.</p>
                    
                </div>
                        
                <div class="col-lg-6 my-4">
                    <h2>Create Agent Account</h2>
                    <h3>Find your organization</h3>
                    {% include "include/find-org-to-create-account.html" %}

                    <p>Already have an account? <a href="{% url 'mfa_login' %}">Login</a>.</p>

                    <p>Want your Organization to join?
                        Contact
                        <a href="{{ settings.ORG_SIGNUP_CONTACT  }}" target="_blank" rel="noopener">
                            {{settings.ORGANIZATION_TITLE }}
                        </a>
                        for more information.
                    </p>
                </div>




            </div>
{% endblock %}



