{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ settings.APPLICATION_TITLE }}{% endblock %}
{% block pretitle %}{% endblock %}
{% block extra_head %}
{% endblock %}


{% block pagename %} {{ settings.APPLICATION_TITLE }} {% endblock %}
{% block Content %}


    <div class="hero-unit text-center">

        <div class="container-fluid">
            
                <div class="row">
                  <div class="col-lg-10">
                    {% include "include/messages.html" %}
                  </div>
                </div>
            
                <div class="col-md-12">
                    
                <div class="col-lg-12 well">
    
                        <h1>{{ settings.APPLICATION_TITLE }}</h1>

                        </p>
               
                        <!-- or <a href="{% url 'social:begin' 'google-openidconnect' %}">continue with Google</a> -->
                        <p>

                         {% if settings.ALLOW_MEMBER_SIGNUP %}          
                        <a href="{% url 'create_account_enduser' %}">
                        <button type="button" class="btn btn-primary"> <i class="fa fa-plus"></i> Signup as a Community Member</button></a>
                        {% endif %}
                        
                        <p> Already have an account? Maybe you want to login to <a href="{{settings.KILLER_APP_URI}}">{{settings.KILLER_APP_TITLE}}</a></p>
                                            
                        </div>
                

            
                        <!-- or <a href="{% url 'social:begin' 'google-openidconnect' %}">continue with Google</a> -->
                        <p>

                
             
                   <div class="col-lg-12 well">
    
                        
                        
                        
                        <h1>Participating Organizations</h1>
                        
                    
                            {% for o in organizations %}
                             <a href="{% url 'create_org_account' o.slug %}">
              

                               <button type="button" class="btn btn-primary"> <i class="fa fa-building"></i> {{o.name}}</button>
                            
                            
                            </a>
                            {% endfor %}
                            </br><br>
                        
                    
                         <p>Want your Organization to join?
                         Contact the <a href="{{ settings.ORG_SIGNUP_CONTACT  }}"> {{settings.ORGANIZATION_TITLE }}</a> for more information.</h3>
                
                        </div>
                
                
                
                 
                
                </div>   
            </div>
        </div>

{% endblock %}
