{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load has_group %}
{% block breadcrumbs %}
                    <ol class="breadcrumb">
                        <li class="active"><a href="/">Home</a></li>
                    </ol>
{% endblock %}
{% block Content %}
            <div class="row">
                <div class="col">
                     <p>Hello {{request.user.first_name|title}} {{request.user.last_name|title}}.</p>
                     <p>Your username is <span class="badge badge-primary">{{ request.user }}</span>
                     and your account number is <span class="badge badge-primary">{{ profile.subject }}</span>.</p>
                     <p>
                     Your identity assurance level is <span class="badge badge-success">{{profile.ial}}</span>.</p>

                     {% ifequal profile.ial "1" %}
                            <p>Your identity needs to be verified before you can gain full access.
                            Your identity level is <span class="badge badge-warning"">{{profile.ial}}</span>,
                            but most services require level <span class="badge badge-success">2</span>. Please see your
                            point of contact so they can help you verify your identity.</p>
                            {% else %}
                     
                    {% if request.user|has_group:"IdentityAssuranceTrustedReferee" %}
                                    <p>You are in the group <span class="badge badge-default">IdentityAssuranceTrustedReferee</span>
                                    therefore you have access to
                                    <a href="{% url 'user_search' %}">User Search</a>. This feature                    
                                    allows you find accounts of other users and update most details.</p>
                                    <a href="{% url 'user_search' %}">
                                        <button type="button" class="btn btn-primary">User Search</button>
                                    </a>
                                    </p>
                    {% endif %}
                     
                     <h5>Looking for {{settings.KILLER_APP_TITLE}}? <a href="{{settings.KILLER_APP_URI}}">Login here.</a></h5>
                    {% endifequal %}

                </div>
            </div><!-- /.row -->
{% endblock %}

