{% extends "base.html" %}

{% block Content %}
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Registered</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for device in results %}
                        <tr>
                            <td>{{ device.name }}</td>
                            <td>{{ device.created_at }}</td>
                            <td>
                                <a href="{{device.id}}" >
                                    <button class="btn btn-primary">Edit</button>
                                </a>
                                <button class="btn btn-danger" onclick="remove({{ device.id }})">
                                    Remove
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <th scope="row">
                                <a href="{% url 'fido:register' %}">
                                    <button type="button" class="btn btn-primary"> Add New Device </button>
                                </a>
                            </th>
                            <th scope="row">--</th>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col">
                    <a href="{% url 'fido:register' %}"> <i class="fa fa-key"></i> Register FIDO Devices</a>
                </div>
            </div>
{% endblock %}
{% block ExtraJSFoot %}
<script>
function remove(id) {
    fetch(id, {
        method: "DELETE",
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
        },
    }).then(function(){
        location.reload()
    })
}
</script>
{% endblock %}
